#image_sample li.box{
    width:200px;
    height:200px;
    position:relative;
    /*
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-100px; 
    margin-top:-100px; */
    float:left;
    border:1px solid lightgray;
    margin-right:15px;
    margin-bottom:15px;
    overflow:hidden;
    list-style:none;
}

	#image_sample .box img{
		position:absolute;
		top:50%;
		left:50%;
		width:200px;
		height:200px;
		margin-left:-100px;
		margin-top:-100px;
	}

	#image_sample .box .overlay{
		position:absolute;
		top:0%;
		left:0%;
		bottom:0%;
		right:0%;
		z-index: 0;
		background-color: rgba(0, 0, 0, 0.5);
		color:white;
		text-align:center;
		padding:10px;
		box-sizing:border-box;	
		display:none;
	}
	#image_sample .box .overlay.edit{
	    top:30%;
	    bottom:30%;   
	    left:30%;
	    right:30%;
	    cursor:pointer;
	}
	#image_sample .box .overlay.delete{
			background-color: rgba(0, 0, 0, 0.25);	
			top:3%;
			left:55%;
			width:75px;
			height:50px;
			cursor:pointer;
			display:none;
	}
	#image_sample .box .overlay.enlarge{
			background-color: rgba(0, 0, 0, 0.25);	
			top:3%;
			left:5%;
			width:90px;
			height:50px;
			cursor:pointer;
			display:none;
	}	
	
